:root {
  --brand-1: #4c6ef5;
  --brand-2: #364fc7;

  --gray-1: #191c1f; /* 100 */
  --gray-2: #212529; /* 400 */
  --gray-3: #343a40; /* 500 */
  --gray-4: #adb5bd; /* 600 */
  --gray-5: #ced4da; /* 700 */
  --gray-6: #edf2ff; /* 800 */
  --gray-7: #f8f9fa; /* 900 */

  --font-family-inter: "Inter", sans-serif;

  --title-1: 600 52px/140% 'Inter', sans-serif;
  --title-2: 600 40px/160% 'Inter', sans-serif;
  --title-3: 600 32px/160% 'Inter', sans-serif;

  --text-1: 400 20px/150% 'Inter', sans-serif;
  --text-2: 400 18px/150% 'Inter', sans-serif;
  --text-3: 400 16px/150% 'Inter', sans-serif;
  --text-4: 600 16px/150% 'Inter', sans-serif;
}
